<div class = "container-fluid">
<div class = "row">

<div class = "col-xs-4 col-sm-4 col-lg-4">
<img class="img-fluid"  src="/assets/images/aboutustag1.jpg" width = "322" height = "190">
</div>

<div class = "col-xs-5 col-sm-5 col-lg-5">
<img class="img-fluid"  src="/assets/images/Honda.jpg" width = "356" height = "253">
</div>


<div class = "col-xs-3 col-sm-3 col-lg-3">
<img class="img-fluid"  src="/assets/images/aboutus2.jpg" width = "256" height = "253">
</div>


<div class = "col-xs-12 col-sm-12 col-lg-6">
<img class="img-fluid"  src="/assets/images/onnn.jpg" width = "522" height = "270">
</div> 
 

<div class = "col-xs-6 col-sm-6 col-lg-6">


<p>Honda Motor Co Ltd. is a Japanese public multinational conglomerate corporation primarily known as a manufacturer of automobiles, aircraft, motorcycles, and power equipment.
Honda has been the world's largest motorcycle manufacturer since 1959,[2][3] as well as the world's largest manufacturer of internal combustion engines measured by volume, producing more than 14 million internal combustion engines each year.[4] Honda became the second-largest Japanese automobile manufacturer in 2001.[5][6] Honda was the eighth largest automobile manufacturer in the world behind Toyota, Volkswagen Group, Hyundai Motor Group, General Motors, Ford, Nissan, and Fiat Chrysler Automobiles in 2015.[7]
Honda was the first Japanese automobile manufacturer to release a dedicated luxury brand, Acura, in 1986. Aside from their core automobile and motorcycle businesses, Honda also manufactures garden equipment, marine engines, personal watercraft and power generators, and other products. Since 1986, Honda has been involved with artificial intelligence/robotics research and released their ASIMO robot in 2000. They have also ventured into aerospace with the establishment of GE Honda Aero Engines in 2004 and the Honda HA-420 HondaJet, which began production in 2012. Honda has three joint-ventures in China (Honda China, Dongfeng Honda, and Guangqi Honda).</p>
</div>


<div class = "col-xs-6 col-sm-6 col-lg-6">
<p>Honda was the first Japanese automobile manufacturer to release a dedicated luxury brand, Acura, in 1986. Aside from their core automobile and motorcycle businesses, Honda also manufactures garden equipment, marine engines, personal watercraft and power generators, and other products. Since 1986, Honda has been involved with artificial intelligence/robotics research and released their ASIMO robot in 2000. They have also ventured into aerospace with the establishment of GE Honda Aero Engines in 2004 and the Honda HA-420 HondaJet, which began production in 2012. Honda has three joint-ventures in China (Honda China, Dongfeng Honda, and Guangqi Honda).</p>
</div> 



<div class = "col-xs-6 col-sm-6 col-lg-6">
 <img class="img-fluid"  src="/assets/images/twww.jpg" width = "472" height = "220">
 </div>
 
<div class = "col-xs-6 col-sm-6 col-lg-6">
<a class="nav-link" href="#home.component.html">Home Page</a>
</div>

</div>
</div>
