<div class = "container-fluid">
<div class = "row">



<div class = "col-xs-2 col-sm-2 col-lg-2">
<img class="img-fluid"  src="/assets/images/logo_cars_hires.png" width = "386" height = "193">
</div>

<div class = "col-xs-2 col-sm-2 col-lg-2">
<img class="img-fluid"  src="/assets/images/cardesinggg.png" width = "316" height = "123">
</div>


<div class="col-xs-4 col-sm-4 col-lg-4">
 <img class="img-fluid"  src="/assets/images/carModels.jpg"  width = "376" height = "353"> 
 </div>
 
<div class = "col-xs-4 col-sm-4 col-lg-4">
<img class="img-fluid"  src="/assets/images/Hondaamaze3.jpg" width = "356" height = "253">
<!-- <label class="Namelabel1"> <b>Name</b></label> -->







<label class="hncity"><b> Honda City</b></label>
<br>
<label class="price1"><b> Price :</b></label>
<label class="pricing1"> 10.77Lakhs onwards</label>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Check Details
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Honda City</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         <!--  Modal body.. -->
          
          <p>The Honda City is a compact car which has been produced by the Japanese manufacturer Honda since 1981.</p>
<br>

<p>Originally made for the Japanese, European and Australasian markets, the subcompact City 3-door hatchback was retired in 1994 after the second generation. The nameplate was revived in 1996 for use on a series of compact four-door sedans aimed primarily at developing markets, first mainly sold in Asia outside Japan but later also in Latin America and Australia. From 2002 to 2008, the City was also sold as the Honda Fit Aria in Japan.</p>

          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<div class = "col-xs-4 col-sm-4 col-lg-4">
<!-- <img class="img-fluid"  src="cardesign11.jpg" width = "356" height = "153"> -->

<img class="img-fluid"  src="/assets/images/hundaisonata2.jpg" width = "356" height = "153">
<label class="form-check-label"><b> Hundai Sonata</b></label>
<br>
<label class="form-check-label"><b> Price :</b></label>
<label class="form-check-label">25.71 Lakhs onwards</label>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
    Check Details
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Hyundai Sonata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <!--   Modal body.. -->
          <p>The Hyundai Sonata is a mid-size car produced by the South Korean manufacturer Hyundai since 1985. The first generation Sonata was introduced in 1985, which was a facelifted Stellar with an engine upgrade, and was withdrawn from the market in two years due to poor customer reactions. While the original was only sold in South Korea, with limited exports to Canada and New Zealand, the second generation of 1988 was widely exported.</p>

<br>

<p>Sonata Plug-in Hybrid[edit]
As part of the seventh-generation Sonata, Hyundai announced the release of a plug-in hybrid variant scheduled for market launch in the second half of 2015. Technical details of the Sonata PHEV were announced at the 2015 North American International Auto Show.[64] The Sonata PHEV was released in selected markets in the United States in November 2015. It is available only in California and 9 other states which share the same zero-emissions vehicle requirements as California.</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

</div>

<div class = "col-xs-4 col-sm-4 col-lg-4">
<img class="img-fluid"  src="/assets/images/HondaWRV.jpg" width = "316" height = "213">
<label class="form-check-label"><b> Honda CR-V</b></label>
<br>
<label class="form-check-label"><b>Price</b></label>
<label class="form-check-label">24.43 Lakhs onwards</label>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
   Check Details
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Honda CR-V</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
       <!--    Modal body.. -->
          
          
          
          
<p>The Honda CR-V is a compact crossover SUV, formerly a compact SUV manufactured by Honda since 1995. It uses the Honda Civic platform in an SUV body.</p>

<p>The CR-V is Honda's mid-range utility vehicle, slotting between the smaller HR-V and the larger Pilot. </p>

<p>Honda began producing the CR-V in Sayama, Japan, and Swindon, UK, for worldwide markets, adding North American manufacturing sites in East Liberty, Ohio, in 2007</p>

<p>Alliston, Ontario, Canada, in 2012; and Greensburg, Indiana in February 2017. The CR-V also is produced in Wuhan (Hubei province) for the Chinese market by the Dongfeng Honda Automobile Company, a joint venture with Dongfeng Motor Corporation.</p>
<br>
         
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

</div>


<div class = "col-xs-4 col-sm-4 col-lg-4">
<br>

<img class="img-fluid"  src="/assets/images/hndaccrd.jpg" width = "356" height = "203">
<label class="form-check-label"><b> Hundai Accord</b></label>
<br>
<label class="form-check-label"><b> Price</b></label>
<label class="form-check-label"> Price : 41.12 Lakhs onwards</label>
<br>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
    Check Details
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal3">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Honda Accord</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         <!--  Modal body.. -->
          
          <p>The North American eighth generation Honda Accord is a full-size (E-segment) sedan and mid-size (D-segment) coupe introduced for the 2008 model year</p>
<br>
<p>The size of the 2008 Accord has been increased by 4 inches (102 mm) in length and 3 inches (76 mm) in width. As a result, the interior space is also enlarged: an Accord sedan is considered a full-size car by EPA standards, having a combined interior space of 120 cubic feet (3.4 m3).</p>
<br>
<p>The Honda Accord Coupe concept car was unveiled at the 2007 North American International Auto Show. It previewed the production 2-door model with i-VTEC VCM V6 engine and Advanced Compatibility Engineering body structure.</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

<br>
<br>
</div>



<div class = "col-xs-4 col-sm-4 col-lg-4">
<br>
<img class="img-fluid"  src="/assets/images/carcrv.jpg" width = "356" height = "253">
<label class="form-check-label"><b> Honda WR-V</b></label>
<br>
<label class="form-check-label"><b>Price</b></label>
<label class="form-check-label">7.8 Lakhs onwards</label>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
    Check Details
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal4">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

</div>



<div class = "col-xs-4 col-sm-4 col-lg-4">
<img class="img-fluid"  src="/assets/images/hundaicivic.jpg" width = "316" height = "158">
<label class="form-check-label"><b> Honda Amaze</b></label>
<br>
<label class="form-check-label"><b>Price</b></label>
<label class="form-check-label">9.08 Lakhs onwards</label>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
    Check Details
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal5">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

</div>




<div class = "col-xs-2 col-sm-2 col-lg-2">

<img class="img-fluid"  src="/assets/images/questionmark.png" width = "146" height = "58">
<br>
<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Query Here</a>

</div>

<!-- <div class = "col-xs-2 col-sm-2 col-lg-2">
<h5>Ask Your Query</h3>
  <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Query Here</a>
</div>
 -->



<div class = "col-xs-6 col-sm-6 col-lg-6">
<a class="nav-link" href="#home.component.html">Home Page</a>
</div>


<!-- <div class = "col-xs-4 col-sm-4 col-lg-4">
<img class="img-fluid"  src="hundaisonata3.jpg" width = "1016" height = "558">
<label class="form-check-label"> Form of Payment</label>
<br>
<label class="form-check-label"> Form of Payment</label>
</div>
 -->

</div>
</div>
