<div class = "container-fluid">
<div class = "row">
<div class = "col-xs-12 col-sm-12 col-lg-12">

<div class = "col-xs-12 col-sm-12 col-lg-12">

<img class="img-fluid"  src="/assets/images/ContactUsIcon.jpg" width = "156" height = "53"> 
</div>
  
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Investor Contacts
        </a>
      </div>
      <div id="collapseOne" class="collapse show">
        <div class="card-body">
       
       <label for="fultyp">Share Register/Transfer Agent*:</label>
       <br><br>
       <label for="add1"><b>TSR Darashaw Limited (TSRDL)</b></label>
       <label for="add2">Ph: +91-22-6656 8484</label>
       <label for="add3">Fax: +91-22-6656 8494</label>
       <label for="add4">Email: csg-unit@tsrdarashaw.com</label>
       <label for="add5">Website: www.tsrdarashaw.com</label>
       
       <br><br>
       <label for="add6"> <b>Mailing Address:</b></label>
       <label for="add7">6-10, Near Mumbai Airport road</label>
       <label for="add8">Industrial Estate, 20, Dr E Moses Road</label>
       <label for="add9">Santacruse, Mumbai 400 071</label>
       
        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Media Contacts
      </a>
      </div>
      <div id="collapseTwo" class="collapse">
        <div class="card-body">
 
       <p>To be able to respond to your queries appropriately, we request that you send press inquiries to Honda contacts closest to you.</p>
  
         <table class="table">
         <tbody>
         
          <tr>
          <td>
         <label for="addrasia1"> <b>Asia Pacific:</b></label>
         <br>
          <label for="addrasia2"> Riya Roy</label>
          <br>
          <label for="addrasia3"> Email: riya.roy@Honda.com</label>
          <br>
          <label for="addrasia4"> Phone: +165 5657657</label>
          </td>
          
          <td>
           <br>
          <label for="addraustralia1"> <b>Benelux:</b></label>
          <br>
          <label for="addraustralia2"> Neerja Shaha</label>
          <br>
          <label for="addraustralia3"> Email: neerja.Shaha@Honda.com</label>
          <br>
          <label for="addraustralia4"> Phone: +765 9402994</label>
          </td>
          
          
          <td>
           <br>
          <label for="addaspacific1"> <b>South America:</b></label>
          <br>
          <label for="addaspacific2"> Manasi Joshi</label>
          <br>
          <label for="addaspacific3"> Email: Manasi.Joshi@Honda.com</label>
          <br>
          <label for="addaspacific4"> Phone: +265 90895044</label>
          </td>
          </tr>
          
          
          <tr>
          <td>
           <br>
          <label for="addramr1"> <b>North America:</b></label>
          <br>
          <label for="addramr2"> Priyanka Kumar</label>
          <br>
          <label for="addramr3"> Email: Priyanka.Kumar@Honda.com</label>
          <br>
          <label for="addramr4"> Phone: +565 90885944</label>
          </td>
          
          
          <td>
           <br>
          <label for="addjp1"> <b>Japan:</b></label>
          <br>
          <label for="addjp2"> Raj Shukla</label>
          <br>
          <label for="addjp3"> Email: Raj.Shukla@Honda.com</label>
          <br>
          <label for="addjp4"> Phone: +965 90445944</label>
          </td>
          
          <td>
          
           <br>
          <label for="aust1"> <b>Australia::</b></label>
          <br>
          <label for="aust2"> Pavan Kumar</label>
          <br>
          <label for="aust3"> Email: Pavan.Kumar@Honda.com</label>
          <br>
          <label for="aust4"> Phone: +965 902915944</label>
          
          </td>
          </tr>
          
          
          <tr>
          <td>
           <br>
          <label for="addafk1"> <b>Afrika:</b></label>
          <br>
          <label for="addafk2"> Prasad Joshi</label>
          <br>
          <label for="addafk3"> Email: Prasad.Joshi@Honda.com</label>
          <br>
          <label for="addafk4"> Phone: +665 902695944</label>
          </td>
          
          <td>
           <br>
          <label for="addeura1"> <b>Europe:</b></label>
          <br>
          <label for="addeura2"> Neel Mukharji</label>
          <br>
          <label for="addeura3"> Email: NeelM@Honda.com</label>
          <br>
          <label for="addeura4"> Phone: +865 902395944</label>
          
          </td>
          </tr>
          
   </tbody>
  </table>
         
       
       
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Industry Analyst Contacts
        </a>
      </div>
      <div id="collapseThree" class="collapse">
        <div class="card-body">
          
          <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        -->
       
      <p> <b> If you are an industry analyst or have question related to analyst information:
			Please mail us at analyst.relations@honda.com</b><p>
       
        </div>
      </div>
    </div>
  </div>
  
</div>



<table class="table table-bordered">
    

    
    
    <tbody>
      <tr>
      
      
    <td><label for="fname">First Name:</label></td>
    <td><input type="fname" class="form-control" id="fname"></td>
    
    <td><label for="lname">Last Name:</label></td>
    <td><input type="lname" class="form-control" id="lname"></td>
      
      </tr>
      <tr>
    
        
     <td><label for="email">Email:</label></td>
    <td><input type="email" class="form-control" id="email"></td>
        
      <td><label for="phn">Phone:</label></td>
    <td><input type="phn" class="form-control" id="phn"></td>
       
        
      </tr>
      
      
      <tr>
       
        
     	<td><label for="countryy">Country:</label></td>
   		<td><input type="countryy" class="form-control" id="countryy"></td>
        
      	<td><label for="comp">Company:</label></td>
    	<td><input type="comp" class="form-control" id="comp"></td>
       
        
      </tr>
      
      
    <tr>
     <td><label for="ind">Industry:</label></td>
     <td><input type="ind" class="form-control" id="ind"></td>
        
      <td><label for="serv">Sevices:</label></td>
      <td><input type="serv" class="form-control" id="serv"></td>
      </tr>
      
      <tr>
     <td><label for="indcat">Inquiry Category:</label></td>
     <td><input type="indcat" class="form-control" id="indcat"></td>
        
      <td><label for="serv">Are you an existing client:</label></td>
      <!-- <td><input type="serv" class="form-control" id="serv"></td> -->
    
       
      <td>
      <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    </td>
   </tr>
   
  
      
      
    </tbody>
  </table>

 
      <div class="form-group">
      <label for="comment">How can we help you ?</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
       <label for="comment">I would like to receive alerts and updates from Honda</label>
    </div>
    
    
      <div class="form-group">
     <button type="button" class="btn btn-primary">Clear</button>
     <button type="button" class="btn btn-primary">Send</button>
     </div>

  
  <div class = "col-xs-6 col-sm-6 col-lg-6">
<a class="nav-link" href="#home.component.html">Home Page</a>
</div>

</div>



</div>

