<div class = "container-fluid">
<div class = "row">



<div class = "col-xs-12 col-sm-12 col-lg-6">

<img class="img-fluid"  src="/assets/images/onlinebooking.png" width = "156" height = "53"> 
 
 <div class="group-item">
 <img class="img-fluid"  src="/assets/images/BMW4.jpg" width = "656" height = "453"> 
 </div>
 
 <div class="group-item">
 <img class="img-fluid"  src="/assets/images/carblue.jpg"  width = "656" height = "453"> 
 </div>
 
 
</div>



<div class ="col-xs-12 col-sm-12 col-lg-6">

<form>
  

 
 <div class="form-group">
      <label for="selcar"><b>Select Car:</b></label>
      <select class="form-control" id="selcarss">
        <option>Grand i20</option>
        <option>Renault Kwid</option>
        <option>Maruti Swift</option>
        <option>Bessie</option> 
        <option>Sally</option>
        <option>Renault Kwid</option>
        <option>Maruti Suzuki Baleno</option>
        <option>Honda City</option>
        <option>Hundai Sonata</option>
        <option>Hyundai i20</option>
     </select>
 </div>  
      
 <div class="form-group">  
      <label for="sel2"><b>Select Color:</b></label>
      <select  class="form-control" id="sel2">
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Yellow</option>
        <option>Pink</option>
        <option>Silver</option>
        <option>Black</option>
      </select>
 </div>
 
 
  <div class="form-group">  
      <label for="fultyp"><b>Fuel Type:</b></label>
      <select  class="form-control" id="sel2">
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Yellow</option>
        <option>Pink</option>
        <option>Silver</option>
        <option>Black</option>
      </select>
 </div>
 
 <div class="form-group">  
      <label for="fultyp"><b>Fuel Type:</b></label>
      <select  class="form-control" id="sel2">
        <option>Petrol</option>
        <option>Disel</option>
        <option>Gas</option>
      </select>
 </div>
 
 
 <div class="form-group">  
      <label for="statenm"><b>Delar State:</b></label>
      <select  class="form-control" id="sel2">
        <option>Maharashtra</option>
        <option>Goa</option>
        <option>Delhi</option>
        <option>Kerala</option>
        <option>Gujarat</option>
        <option>Rajasthan</option>
        <option>Uttar Pradesh</option>
        <option>Karnataka</option>
         <option>Tamilnadu</option>
      </select>
 </div>
 
 
 <div class="form-group">  
      <label for="citynm"><b>Delar City:</b></label>
      <select  class="form-control" id="sel2">
        <option>Pune</option>
        <option>Mumbai</option>
        <option>Chennai</option>
        <option>Banglore</option>
        <option>Chandigardh</option>
        <option>Kolkata</option>
        <option>Hydrabad</option>
        <option>Jaipur</option>
        <option>Tamilnadu</option>
      </select>
 </div>
 
   <div class="form-group">  
      <label for="citynm"><b>Dealer Name:</b></label>
      <select  class="form-control" id="sel2">
        <option>Maruti Suzuki</option>
        <option>Hundai</option>
        <option>Honda</option>
        <option>Tata</option>
        <option>Chevarolet</option>
        <option>Toyato</option>
        <option>Ford</option>
        <option>Volswagen</option>
        <option>Tamilnadu</option>
      </select>
 </div>
 
<div class="form-check">
      <label class="form-check-label"> Form of Payment
      <br>
        <input class="form-check-input" type="checkbox" name="remember"> By Cash
        <br>
        <input class="form-check-input" type="checkbox" name="remember"> By Credit Card
         <br>
        <input class="form-check-input" type="checkbox" name="remember"> By Check
      </label>
    </div>
 
 <div class="form-group">
 <button type="submit" class="btn btn-primary">Submit</button>
 <button type="submit" class="btn btn-primary">Reset</button>
 </div>

 <div class = "col-xs-6 col-sm-6 col-lg-6">
<a class="nav-link" href="#home.component.html">Home Page</a>
</div>

</form>
</div>


</div>
</div>
